/* src/index.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  div {
    margin: 20px 0;
  }
  